.card {
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    object-fit: cover;
    width: 282px;
    height: 282px;
}

.card__bottom {
    padding: 25px 15px 25px 21px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: #fff;
}

.card__bottom-text {
    max-width: 220px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    font-size: 24px;
}

.card__bottom-button {
    border: none;
    height: 18px;
    width: 21px;
    background-color: #fff;
    padding: none;
    background-image: url('../images/like-button.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.card__bottom-button:hover {
    opacity: 0.6;
    cursor: pointer;
}



