.card {
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card__delete {
    border: none;
    background-image: url(../images/Trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.0);
    padding: none;
    height: 19px;
    width: 18px;
    position: absolute;
    top: 18px;
    right: 15px;
}

.card__delete:hover {
    opacity: 0.6;
    cursor: pointer;
}

.card__image {
    object-fit: cover;
    width: 282px;
    height: 282px;
}

.card__image:hover {
    cursor: pointer;
}

.card__bottom {
    padding: 25px 15px 25px 21px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: #fff;
}

.card__bottom-text {
    max-width: 220px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    font-size: 24px;
}

.card__bottom_like {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card__bottom-count {
    margin-top: 3px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.card__bottom-button {
    border: none;
    height: 18px;
    width: 21px;
    background-color: #fff;
    padding: none;
    background-image: url('../images/like-button.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.card__bottom-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.card__bottom-button_clicked {
    background-image: url('../images/like-button-clicked.svg');
}